* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    /* чтоб контейнер не был болше 1170 пикс в ширину  */
    max-width: 1170px;
    /* это выравниваем по центру */
    margin: 0 auto;
    /* это чтоб на таблетках не прилипал к краю экран
    которые меньше  1170 пикс*/
    padding: 0 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

header {
    font-family: 'Roboto', sans-serif;
}

.header__top {
    background-color: #303030;
}

.header__btn {
    float: right;
    line-height: 36px;
    font-size: 16px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    position: relative;
}

.header__btn:before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}

.header__contacts:after {
    content: '';
    clear: both;
    display: block;
}

.header__phone,
.header__e-mail {
    line-height: 24px;
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header__phone:before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__e-mail {
    padding-left: 24px;
}

.header__e-mail:before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__content {
    padding: 34px 0px 23px;
}

.menu li {
    display: inline-block;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 16px;
    line-height: 36px;
    color: #323232;
    border: 1px solid transparent;
    padding-left: 18px;
    padding-right: 16px;
    transition: all 3s;
}

.menu a:hover {
    border-color: #ffc222;
}

.menu li+li {
    padding-left: 10px;
}

#modal {
    display: none;
}

.slider {
    background-image: url(../img/slider_fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.slider__item-content {
    text-align: center;
    padding-top: 110px;
    margin: 0 auto;
    max-width: 665px;
}

.slider__title {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 22px;
}

.slider__text {
    font-size: 18px;
    line-height: 24px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.default-btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 8px 20px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    outline: none;
}
.default-btn::before {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}
.slider__inner {
    position: relative;
}
.slick-btn {
    position: absolute;
    z-index: 3;
    top: 70%;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: #ffc222;
    outline: none;
    cursor: pointer;
    
}
.slick-btn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);
    font-family: 'icomoon';
    color: #ffffff;


}
.slick-btn.slick-disabled {
    cursor: default;
    background-color: transparent;
}
.slick-prev {
    left: 0;
}
.slick-prev:before {
    content:"\f104";
}
.slick-next {
    right: 0;
}
.slick-next:before {
    content:"\f105";
}
.about {
    padding: 50px 0 30px;
}
.about__top {
    display: flex;
    justify-content: space-between ;
    margin-bottom: 60px;
}
.about__title-box {
    width: 520px;
    padding-left: 140px;
    position: relative;
}
.about__title-box:before {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    position: absolute;
    left: 0;
    top: 11px;
}
.about-title {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    margin-bottom: 10px;
}
.about__text {
    letter-spacing: 0.1px;
}
.about__btn a {
    line-height: 24px;
    letter-spacing: 0.25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #373636;
    border: 3px solid #e6e6e6;
    padding: 5px 38px
}
.about__items {
    display: flex;
    justify-content: space-between;
   
}
.about__item {
    width: 360px;
    text-align: center;
    /* border:1px solid red; */
    padding: 25px 0 80px;
    min-height: 375px;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 3.5px 6.062px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.about__item-title {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212020;
    letter-spacing: 0.1px;
    padding: 24px 0;
}
.about__item-text {
    letter-spacing: 0.1px;
    padding: 0 30px 30px;
}
.about__item-btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;    
}
.about__item-btn .default-btn {
    color: #373636;
}
.about__item-link {
  color: #050505; 
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #050505;
  padding: 0;
  line-height: 15px; 
  margin-right: 60px;
}
/* 
.Прямоугольник_32_копия_2 {
    background-color: rgb(249, 249, 249);
    box-shadow: 3.5px 6.062px 24.3px 2.7px rgba(91, 89, 89, 0.14);
    position: absolute;
    left: 1170px;
    top: 846px;
    width: 360px;
    height: 365px;
    z-index: 97;
  } */
  
